/* For Small size devices */
@media screen and (max-width:479px) {
    html{
        width: 100%;
        height: 100%;
    }
    body {
           background: linear-gradient(135deg,#64cbee, #0a58bd);
           ;
    }
    .card{
            width: 90%;
            margin: 30px auto;
            padding: 20px 15px;
            border-radius: 15px;
    }
    
    .search {
            flex-direction: row;
            gap: 8px;
    }
    
    .search input {
            width: 100%;
            margin-right: 3px;
            font-size: 1rem;
            height: 45px;
            padding: 8px 10px;
            border-radius: 20px;
    }
    
    .search button {
            width: 45px;
            height: 45px;
    }
    
    .search button img {
            height: 10px;
    }
    
    .weather_icons {
            width: 120px;
            margin-top: 20px;
    }
    
    .weather h1 {
            font-size: 1.6rem;
    }
    
    .weather h2 {
            font-size: 1.4rem;
    }
    
    .details {
            flex-direction:row;
            align-items: flex-start;
            gap: 26px;
            padding: 0 10px;
            margin-top: 30px;
    }
    
    .col img {
            width: 30px;
            margin-right: 8px;
    }
    
    .humidity,
    .wind {
            font-size: 1.2rem;
    }
    
    .error {
            font-size: 1rem;
    }
}
/* for medium size devices */
@media screen and (min-width:480px) and (max-width:767px) {
    html{
        height: 100%;
        width: 100%;
    }
    body {
           background-color: rgb(167, 104, 23);
           height: 100vh; 
}
    .card{
            width: 90%;
            margin: 30px auto;
            padding: 20px 15px;
            border-radius: 15px;
            background:linear-gradient(135deg,#64cbee, #0a58bd);
    }
    .search {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    
    .search input {
            width: 85%;
            margin-right: 3px;
            font-size: 1rem;
            height: 45px;
            padding: 8px 10px;
            border-radius: 20px;
    }
    
    .search button {
            padding-top: 2px;
            border: 0;
            outline: 0;
            background: #ebfffc;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            cursor:pointer;
    }
    
    .search button img {
            height: 35px;
        
    }
    .weather{
        display: inline-block;
        align-self: center;
        justify-self: center;
    }
    
    .weather_icons {
            width: 320px;
            margin-top: 20px;
            justify-self: center;
            align-self: center;
    }
    
    .weather h1 {
            font-size: 2.9rem;
            justify-self: center;
    }
    
    .weather h2 {
            font-size: 2.5rem;
            justify-self: center;
    }
    
    .details {
        display: flex;
            flex-direction:row;
            align-items: flex-start;
            justify-content: space-between;
            gap: 30px;
            padding: 0 10px;
            margin-top: 30px;
    }
    
    .col img {
            width: 90px;
            margin-right: 8px;
    }
    
    .humidity,
    .wind {
            font-size: 2.2rem;
    }
    
    .error {
            font-size: 2rem;
    }
}
/* for large size devices */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #222;
    background-image: url("../Images/bgimg.avif");
    background-repeat: no-repeat;
    background-size:cover;
    
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#64cbee, #0a58bd);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 1.2rem;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor:pointer;
}
.search button img{
    height: 16px;
    
}
.weather_icons{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 2.2rem;
    font-weight: 400;
}
.weather h2{
    margin-top: -10px;
    font-size: 2.2rem;
    font-weight: 400;
}
.details{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 1.5rem;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    display: none;
    text-align: left;
    font-size: 1.2rem;
    margin-top: 12px;
    color: rgb(0, 0, 0);
    font-weight: 700;
} 

